<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxzbdeJf7JgfaiQ75I1cf3e83zojxuOEc</string>
	<key>GCM_SENDER_ID</key>
	<string>677073432436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.cardigan.app</string>
	<key>PROJECT_ID</key>
	<string>cardigan-276f3</string>
	<key>STORAGE_BUCKET</key>
	<string>cardigan-276f3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677073432436:ios:0c847aeb06c8433dc28621</string>
</dict>
</plist>